* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
		color: #000000;
		text-shadow: none;
/*
		text-shadow: 1px 1px 2px #000000;
*/
/*
    background-image: url('https://svh33851.github.io/astolfoart/assets/bg.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
		background-repeat:no-repeat;
		background-position: center center;
*/
}

p {
		color: #000000;
		text-shadow: none;
		line-height: 1.2em;
		font-size: 12px;
}

h1 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom:-4px;"
	line-height:1.9em;
	color: black;
}

.title {

}

a:link {
  text-decoration: none;
  font-weight:700;
}

a:visited {
  text-decoration: none;
  font-weight:700;
}

a:hover {
  text-decoration: underline;
  font-weight:700;
}

a:active {
  text-decoration: underline;
  font-weight:700;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}



/* AUTOSCROLL BANNER */
        /* Container for scrolling effect */
        .scroll-container {
            width: 100%; /* Adjust width to your preference */
            overflow: hidden;
            white-space: nowrap;
        }

        /* Image container with animation */
        .scrolling-image {
            display: inline-block;
            animation: scroll 15s linear infinite;
        }

        /* Scroll animation */
        @keyframes scroll {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%);
            }
        }

        /* Make sure the image fills the container */
        .scrolling-image img {
            width: 100%;
            height: auto;
        }




/* MEDIA QUERIES */
/* Default background color */
body { 
    font-size: 13px; 
    background-color: white; 
} 
  
/* Extra Small: less than 568px */
@media (max-width: 568px) { 
    body { 
        background-color: yellow; 
    } 
} 
  
/* Small screens: 568px to 768px */
@media (min-width: 568px) and (max-width: 768px) { 
    body { 
        background-color: rgb(234, 6, 204); /* pinkish */ 
    } 
} 
  
/* Medium screens: 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) { 
    body { 
        background-color: rgb(13, 190, 234); /* blue */ 
    } 
}

/* Large screens: 1024px to 1280px */
@media (min-width: 1024px) and (max-width: 1280px)  { 
    body { 
        background-color: lightgreen; 
    } 
}

/* Extra Large screens: 1280px and above */
@media (min-width: 1280px)  { 
    body { 
        background-color: pink; 
    } 
}
