* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
		color: #000000;
		text-shadow: none;
/*
		text-shadow: 1px 1px 2px #000000;
*/
/*
    background-image: url('https://svh33851.github.io/astolfoart/assets/bg.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
		background-repeat:no-repeat;
		background-position: center center;
*/
}

a:link {
  text-decoration: none;
  font-weight:700;
}

a:visited {
  text-decoration: none;
  font-weight:700;
}

a:hover {
  text-decoration: underline;
  font-weight:700;
}

a:active {
  text-decoration: underline;
  font-weight:700;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.button {
	background-color:#FD007A;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1.1em;
	padding:0.5em 1em;
	text-decoration:none;
}
.button:hover {
	background-color:#C70060;
	text-decoration:none;
}



/* AUTOSCROLL BANNER */
        /* Container for scrolling effect */
        .scroll-container {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
        }

        /* Scrolling wrapper with images */
        .scrolling-wrapper {
            display: flex;
            width: 200%; /* Double the width to fit two images side by side */
            animation: scroll 12s linear infinite;
        }

        /* Scroll animation */
        @keyframes scroll {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-50%);
            }
        }

        /* Image style */
        .scrolling-wrapper img {
            width: 50%; /* Each image takes half of the scrolling-wrapper */
            height: auto;
        }




/* MEDIA QUERIES */
/* Default background color */
body { 
		font-size: 13px; 
		background-color: white;
}

p {
		color: #000000;
		text-shadow: none;
		line-height: 1.2em;
}

h1 {
	font-weight: 700;
	margin-bottom:-4px;
	line-height:1em;
	color: black;
}

h2 {
	font-weight: 700;
	margin-bottom:-4px;
	line-height:1em;
	color: black;
}


  
/* Extra Small (sm): less than 576px */
@media (max-width: 576px) { 
/*
    body {background-color: yellow;}
*/
		p {font-size: 10px;}
		h1 {font-size: 16px;}
		h2 {font-size: 12px;}
} 
  
/* Small (md): 576px to 768px */
@media (min-width: 576px) and (max-width: 768px) { 
/*
    body {background-color: rgb(234, 6, 204);} 
*/
		p {font-size: 11px;}
		h1 {font-size: 17px;}
		h2 {font-size: 13px;}
}
  
/* Medium (lg): 768px to 992px */
@media (min-width: 768px) and (max-width: 992px) { 
/*
    body {background-color: rgb(13, 190, 234);} 
*/
		p {font-size: 12px;}
		h1 {font-size: 18px;}
		h2 {font-size: 14px;}
}

/* Large (xl): 992px to 1200px */
@media (min-width: 992px) and (max-width: 1200px)  { 
/*
    body {background-color: lightgreen;}
*/
		p {font-size: 13px;}
		h1 {font-size: 19px;}
		h2 {font-size: 15px;}
}

/* Extra Large (xxl): 1200px to 1600px */
@media (min-width: 1200px) and (max-width: 1600px)  { 
/*
    body {background-color: pink;} 
*/
		p {font-size: 14px;}
		h1 {font-size: 20px;}
		h2 {font-size: 16px;}
}

/* Extra Extra Large (xxxl): 1600px to 1920px */
@media (min-width: 1600px) and (max-width: 1920px)  { 
/*
    body {background-color: lightblue;} 
*/
		p {font-size: 15px;}
		h1 {font-size: 22px;}
		h2 {font-size: 17px;}
}

/* 4K (x4k): above 1920px */
@media (min-width: 1920px)  { 
/*
    body {background-color: lightcoral;} 
*/
		p {font-size: 17px;}
		h1 {font-size: 24px;}
		h2 {font-size: 19px;}
}
